body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}

#gameOver {
    position: absolute;
    visibility: hidden;
}

h1, h3 {
    font-family: 'Permanent Marker', cursive;
    color :black;
    text-align: center;
}

.title{
    font-size: 62px;
    margin: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid black;
    border-radius: 10px;
}

#restartButton:hover {
    background-color: 	 #f2f2f2;
}